@model Taller3.Models.ViewModel.Contac
@{
    ViewBag.Title = "Contactanos";
}

<div class="contenedor1">
    <div class="superior">
        <h2 class="titulo">UDB Oficial</h2>


        <nav class="menu">
            <ul class="nav">
                <li>@Html.ActionLink("Inicio ", "Index")</li>
                <!-- Segundo li-->
                <li>
                    @Html.ActionLink("Listado de Carreras ", "Ingenerías")

                    <!------------MENU DESPLEGABLE ---------->
                    <ul>
                        <!------------Primer menu desplegable ---------->
                        <li>
                        <li>@Html.ActionLink("Ingenería", "Ingenerías")</li>
                        <li>@Html.ActionLink("Tecnicos", "Tecnicos")</li>
                        <li>@Html.ActionLink("Profesorados ", "Profesorados")</li>
                        <li>@Html.ActionLink("Licenciatura ", "Licenciatura")</li>
                        <li>
                            <!------------Fin del menu desplegable---------->
                    </ul>
                </li>

                <li>@Html.ActionLink("Contactanos ", "Contactanos")</li>

            </ul>
        </nav>

        <img class="ima1" src="http://www.udb.edu.sv/udb/public/img/logos/logo_ius_blanco.png" alt="">
    </div>

    <div class="container">


        <h4 class="titulo2">Contactanos</h4>

        <div class="form1">
            @using (Html.BeginForm("Contactanos", "Home", FormMethod.Post))
            {
                    <div class="vv">
                        @Html.LabelFor(d => d.Correo)
                    </div>
                    @Html.TextBoxFor(d => d.Correo, "", new { @class = "form3" })

                    <div class="vv">
                        @Html.LabelFor(d => d.Queja)
                    </div>
                    @Html.TextBoxFor(d => d.Queja, "", new { @class = "form3" })

                    <div class="vv">
                        @Html.LabelFor(d => d.Felicitaciones)
                    </div>
                    @Html.TextBoxFor(d => d.Felicitaciones, "", new { @class = "form3" })

                    <div class="vv">
                        @Html.LabelFor(d => d.Consulta_inscripcion)
                    </div>
                    @Html.TextBoxFor(d => d.Consulta_inscripcion, "", new { @class = "form3" })

                    <div class="vv">
                        @Html.LabelFor(d => d.Otra)
                    </div>
                    @Html.TextBoxFor(d => d.Otra, "", new { @class = "form3" })
                    <br />

                    <input value="Enviar" class="bton" type="submit" />
               
            }
        </div>

    </div>
</div>
<footer>
    <h5>UNIVERSIDAD DON BOSCO</h5>

    <div class="piee">
       <a href="https://www.facebook.com/UDBelsalvador" target="_blank"><img src="~/Content/face.svg"></a>
       <a href="https://www.instagram.com/UDBelsalvador/" target="_blank"><img src="~/Content/ins.svg"></a>
        <a href="https://twitter.com/UDBelsalvador" target="_blank"><img src="~/Content/twi.png"></a>
    </div>
    <p>© Derechos Reservados, 2020</p>
    
</footer>
